<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "wowsite/css/login.css" %}">
</head>
<body >
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" aria-labelledby="Login">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required label="Username" maxlength="35" autocomplete="off" >
            <input type="password" name="password" placeholder="Password" label="Password" required maxlength="40" autocomplete="off">
            <button type="submit" aria-label="Submit">Submit</button>
        </form>
        <a href="{% url 'users:register' %}" aria-label="Register an account">Register an account</a>
        <a href="{% url 'users:forgot_login' %}" aria-label="Can't log in?">Can't log in?</a>
    </div>
    <div class="block bl"></div>
    <div class="block2 bl"></div>
    <div class="block3 bl"></div>
    <div class="block4 bl"></div>
    <div class="block5 bl"></div>
    <div class="block6 bl"></div>
    <div class="block7 bl"></div>
    <div class="block8 bl"></div>
    <div class="block9 bl"></div>
    
</body>
</html>
