<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "wowsite/css/style_main.css" %}" />
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "wowsite/images/kyoko.jpg" type="image/x-icon" %}">
    <title>Agents</title>
</head>
<body>
    <div class="headwrapp">
        <div class="header">
            <div class="text">Valorant Agents</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="block">
            <a href="/tasks" aria-label="Click me">ToDo List</a>
            <ul>
                {% for m in menu %}
                  <li><a href ="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>